@model List<ChamadosModel>

@{
    ViewData["Title"] = "CHAMADOS";
}

<div>
    <h1 class="">Chamados</h1>
</div>

<div>
    <a class="btn btn-primary" role="button" asp-controller="Chamados" asp-action="CriarChamado">  Criar Chanmado  </a>
</div>

<table class="table table-striped mt-5" id="tabelaChamados">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">TITULO</th>
            <th scope="col">DESCRIÇÃO</th>
            <th scope="col">STATUS</th>
            <th scope="col">PRIORIDADE</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">USUARIO</th>
            <th scope="col">TÉCNICO</th>
            <th scope="col">DT ABERTURA</th>
            <th scope="col">DT FECHAMENTO</th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null && Model.Any())
        {
            foreach (ChamadosModel chamado in Model)
            {
                <tr>
                    <th scope="row">@chamado.Id</th>
                    <td>@chamado.Titulo</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#VisualizartextoModal" data-id="@chamado.Id" data-texto="@chamado.Texto">
                            Visualizar
                        </button>
                    </td>

                    @if (chamado.Status.Id == 1)
                    {
                        <td><button class="btn btn-primary" disabled> @chamado.Status.Nome </button></td>
                    }
                    else if (chamado.Status.Id == 2)
                    {
                        <td> <button class="btn btn-warning" disabled> @chamado.Status.Nome </button>  </td>
                    }
                    else if (chamado.Status.Id == 3)
                    {
                        <td> <button class="btn btn-success" disabled> @chamado.Status.Nome </button>  </td>
                    }


                    @if (chamado.Prioridade.Id == 1)
                    {
                        <td><button class="btn btn-secondary"> @chamado.Prioridade.Nome </button></td>
                    }
                    else if (chamado.Prioridade.Id == 2)
                    {
                        <td> <button class="btn btn-warning"> @chamado.Prioridade.Nome </button>  </td>
                    }
                    else if (chamado.Prioridade.Id == 3)
                    {
                        <td> <button class="btn btn-danger"> @chamado.Prioridade.Nome </button>  </td>
                    }

                    <td>@chamado.Categoria.Nome</td>
                    <td>@chamado.Usuario.Nome</td>
                    <td>@chamado.Tecnico?.Nome</td>
                    <td>@chamado.dt_Abertura</td>
                    <td>@chamado.dt_fechamento</td>

                </tr>
            }
        }

       

    </tbody>
</table>


@* MODAL VISUALIZAR CHAMADO*@
<div class="modal fade" id="VisualizartextoModal" tabindex="-1" aria-labelledby="IniciarChamadoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VisualizartextoModal">DESCRIÇÃO DO CHAMADO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p id="textoDoChamado" style="white-space: pre-wrap;"></p>

            </div>
            <div class="modal-footer">
                <form asp-controller="Chamados" asp-action="AceitarEFinalizarChamado" method="post">
                    <input type="hidden" name="id" id="ChamadoIdIniciar" />
                </form>
            </div>
        </div>
    </div>
</div>



