@{
    ViewData["Title"] = "Pagina Inicial";
}



<div class="text-center">
    <h1 class="display-4">Bem Vindo Gestor!</h1>
    <p> Sistema de Abertura de Chamados<p>
</div>

<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">



        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i> Generate Report dshfs
                </a>
            </div>

            <!-- Content Row -->
            <div class="row">

                <!-- TOTAL CHAMADOS -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total de Chamados
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalDeChamados</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-file fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TOTAL CHAMADOS ABERTOS -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Chamados Abertos
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalChamadosAberto</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-file-circle-exclamation fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Chamados Em Atendimento
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalDeChamadosEmAtendimento</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-clock fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Chamados Finalizados
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"> @ViewBag.TotalChamadosFinalizados </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-file-circle-check fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            <!-- Content Row -->

            <div class="row">

                <!-- Area Chart -->
                <div class="">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Chamados Concluidos Por Tecnico</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"
                                        data-ivanildo="@ViewBag.TotalAtendimentosIvanildo"
                                        data-viviane="@ViewBag.TotalAtendimentosViviane"
                                        data-evelyn="@ViewBag.TotalAtendimentosEvelyn"
                                        data-augusto="@ViewBag.TotalAtendimentosAugusto">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>

            <!-- Content Row -->
                <div class="row justify-content-center">

                <!-- Content Column -->
                    <div class="col-md-6">

                        <!-- Pie Chart -->
                        <div class="align-content-center">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Total Chamados Por Categoria</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"
                                                data-equipamento="@ViewBag.TotalChamadosProblemaEquipamento"
                                                data-rede="@ViewBag.TotalChamadosProblemaRede"
                                                data-sistema="@ViewBag.TotalChamadosErroNoSistema"
                                                data-acesso="@ViewBag.TotalChamadosAcessoNegado"
                                                data-solicitacao="@ViewBag.TotalChamadosSolicitacaoDeEquipamento"
                                                data-software="@ViewBag.TotalChamadosSolicitacaoDeSoftware">
                                        </canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color:#4e73df"> </i>Equipamento
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color:#f6c23e"> </i>Rede
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info" style="color:#1cc88a"> </i>Sistema
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color:#FF0000"> </i>Acesso
                                        </span>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color:#FFA500">  </i>Sol. Equipamento
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color:#808080">  </i>Sol. Software
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
               

                </div>
            </div>

        </div>

    </div>
